<div class="col-lg-12">
  <%= form_for(@question, url: questions_path, html: { method: :post }) do |f| %>
    <div class="table-responsive"> 
      <table class="table table-bordered table-hover">
        <tr>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="content">
              Question
            </label>
            <div class="col-sm-10">
              <%= f.text_area :body, label: false, rows: '10', :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 margin_top">
              <%= f.label :tag_list, "Tags (separated by commas)" %><br /> 
            </div>
            <div class="col-sm-10 margin_top">
              <%= f.text_field :tag_list, class: "tag_width" %>
            </div>
          </div>
        </tr>
      </table>
      <%= f.submit "Submit Question", class: "btn btn-default" %> &nbsp
      <button type="reset" class="btn btn-default">Reset Button</button>
    </div>
  <% end %>
</div>