<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          My Questions
          <small>Welcome</small>
        </h1>
        <ol class="breadcrumb">
          <li>  
            <%= link_to " Ask Question", new_question_path, class: "glyphicon glyphicon-th-list" %>
          </li>
        </ol>
        <div id="questions_index">
          <%= render 'questions_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
