<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Ask Question
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="glyphicon glyphicon-arrow-left"></i> <%= link_to "Back", :back %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <%= render "form" %>
    </div>
  </div>
</div>
