<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row set_page_size">
      <div class="col-lg-12">
        <h1 class="page-header">
          Question
          <small>Welcome</small>
        </h1>
        <ol class="breadcrumb">
          <li>  
            <%= link_to " Back", :back %>
          </li>
        </ol>
        <div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              <%= @question.user.try(:username) || "Guest user" %>
            </label>
            <div class="col-sm-10">
              <%= @question.body %>
            </div>
            <% if @question.tag_list.present? %>
              Tags: <%= get_tags(@question) %>
            <% end %>
          </div>
          <div class="form-group">
            <% if @question.answers.present? %>
              <label class="control-label">
                Answers
              </label>
              <div>
                <% @question.answers.order_by_created_at_asc.each do |answer| %>
                  <div class="comment_border">
                    <p class="breadcrumb"><b><%= answer.user.try(:username) || "Guest User" %></b></p>
                    <p><%= answer.body %></p></br>
                    <% if @question.user_id == current_user.id %>
                      <% unless answer.marked_useful %>  
                        <%= button_to "+1 to user", marked_useful_question_answer_path(question_id: @question.id, id: answer.id), :method => "post", class: "btn-success btn-xs" %>    
                        <% else %>
                          <%= button_to "-1 to user", marked_useful_question_answer_path(question_id: @question.id, id: answer.id), :method => "post", class: "btn-danger btn-xs" %>    
                        <% end %>
                      <% end %>
                  </div><br />
                <% end %>
              </div>
            <% end %>
          </div>
          <div>
            <div class="col-lg-12 margin_top">
              <%= form_for(@answer, url: question_answers_path(question_id: @question.id), html: { method: :post }) do |f| %>
                <div class="table-responsive"> 
                  <table class="table table-bordered table-hover">
                    <tr>
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="content">
                          Post your Answer
                        </label>
                        <div class="col-sm-10">
                          <%= f.text_area :body, label: false, rows: '3', :class => "form-control" %>
                        </div>
                      </div>
                    </tr>
                  </table>
                  <%= f.submit "Submit Answer", class: "btn btn-default" %> &nbsp
                  <button type="reset" class="btn btn-default">Reset Button</button>
                </div>
              <% end %>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
