<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          All Questions
          <small>Welcome</small>
        </h1>
        <ol class="breadcrumb">
          <li>  
            <%= link_to " Ask Question", new_question_path, class: "glyphicon glyphicon-th-list" %>
          </li>
        </ol>
        <div id="questions_index">
          <div class="table-responsive">   
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th class="col-sm-9">Question</th>
                  <th class="col-sm-2">Tags</th>
                  <th colspan="1"><center></center></th> 
                </tr>
              </thead>            
              <% @questions.each do |question| %>
                <tr>
                  <td><%= question.body %></td> 
                  <td><%= get_tags(question) %></td> 
                  <td><%= link_to "View", question_path(question.id) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
