<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          My Answers
        </h1>
        <ol class="breadcrumb">
          <li>  
            <%= link_to " Back", :back %>
          </li>
        </ol>
        <div id="answer_index">
          <div class="table-responsive">   
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th class="col-sm-10">Answer</th>
                  <th colspan="2"><center></center></th> 
                </tr>
              </thead>            
              <% @answers.each do |answer| %>
                <tr>
                  <td><i><%= answer.body %></i></td>  
                  <td><%= link_to "View", "#" %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
