<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QA Portal</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        </button>
        <a class="navbar-brand" href="#">Welcome to QNA Portal</a>
      </div>
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>User<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Profile", edit_user_registration_path, class: "fa fa-fw fa-user" %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "fa fa-fw fa-power-off" %>
            </li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li class="active">
            <%= link_to " Home", dashboard_index_path, class: "glyphicon glyphicon-home" %>
          </li>
          <li>
            <%= link_to " All Questions", dashboard_index_path, class: "glyphicon glyphicon-calendar" %>
          </li>
          <li>
            <%= link_to " My Questions", questions_path, class: "glyphicon glyphicon-calendar" %>
          </li>
          <li>
            <%= link_to " My Answers", question_answers_path(question_id: current_user.id), class: "glyphicon glyphicon-calendar" %>
          </li>
          <li>
            <%= link_to " Points", "#", class: "glyphicon glyphicon-calendar" %>
          </li>
        </ul>
      </div>
    </nav>
    <div id="flash_message">
      <%= render :partial => "layouts/flash_message" %>
    </div>
      <%= yield %>
    </div>
  </body>
</html>