<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ask Questions</title>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong>Ask</strong> Questions</h1>
            </div>
          </div>
          <%= yield %>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
              <h3>...or login with:</h3>
              <div class="social-login-buttons">
                <a class="btn btn-link-2" href="#">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-2" href="#">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-link-2" href="#">
                  <i class="fa fa-google-plus"></i> Google Plus
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </body>
</html>